<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Verification</title>
    <!-- إضافة خط Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
    <style>
        body {
            font-family: 'Roboto', sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
        }

        .email-container {
            background-color: #ffffff;
            padding: 20px;
            max-width: 600px;
            width: 100%;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            margin: auto;
            margin-top: 10px;
        }

        .email-header img {
            height: 60px;
            width: 60px;
            border-radius: 50%;
            margin-bottom: 10px;
        }

        .email-content h2 {
            color: #333333;
            font-weight: 500;
        }

        .email-content p {
            color: #666666;
            font-size: 16px;
            line-height: 1.5;
            margin-bottom: 20px;
        }

        .email-button {
            display: inline-block;
            background-color: #007bff;
            color: #ffffff;
            text-decoration: none;
            padding: 10px 20px;
            border-radius: 5px;
            font-weight: bold;
            margin-top: 20px;
        }

        .email-footer p {
            color: #999999;
            font-size: 14px;
            line-height: 1.5;
        }
    </style>
</head>

<body>
    <div class="email-container">
        <div class="email-header">
            <img src="https://img.freepik.com/free-vector/gradient-coding-logo-template_23-2148809439.jpg?t=st=1731357775~exp=1731361375~hmac=65a7eb40fddded83fff9bad7636fe13c975cdc7fdcaeab656765fa09f697b42c&w=740"
                alt="Logo" />
        </div>
        <div class="email-content">
            <h2>{{subject}}</h2>
            <hr style="margin: 20px 0;" />
            <p>Hello {{name}},</p>
            <p>Please use the URL below to verify your account. This link is valid for 24 hours.</p>
            <a style="color: white;" href={{link}} class="email-button" >Verify Account</a>
            <p>If you didn’t create an account, you can ignore this email.</p>
        </div>
        <hr style="margin: 20px 0;" />
        <div class="email-footer">
            <p>Regards,</p>
            <p><b>Authkit</b> Team</p>
            <p>If you are having trouble clicking the "Verify Account" button, copy and paste the URL below into your
                web browser:</p>
            <a href={{link}} style="color: #007bff; text-decoration: none;" onclick={}>{{link}}</a>
        </div>
    </div>
</body>

</html>